* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-image: url(img/fondo.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100%;

}


h1 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 35px;
    font-weight: bold;
    color: rgb(53, 98, 194);
    margin: auto;
    padding: 50px;
    text-decoration-line: underline;

    display: flex;
    justify-content: center;

}

.contenedor-flex{


    width: 80%;
    margin: 0% auto;

    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;

}

.caja{
    border: 2px solid rgb(45, 119, 254);
    background-color: white;
    width: 350px;
    height: 250px;
    text-align: center;
    margin: 5px;
}


article{
font-size: 30pt;
padding-top: 20px;

}


p{
    font-size: 15px;
    text-align: center;
    padding: 40px



}


.tipo1{
    font-family: 'Sansita';
    src: url('fonts/Sansita/Sansita-Bold.ttf') format('truetype');
    font-style: normal;
    font-weight: 700;


}


.tipo2{
	font-family: 'Chivo';
	src: url('fonts/Chivo/Chivo-Thin.eot');
	src: url('fonts/Chivo/Chivo-Thin.eot?#iefix') format('embedded-opentype'),
		 url('fonts/Chivo/Chivo-Thin.woff2') format('woff2'),
		 url('fonts/Chivo/Chivo-Thin.woff') format('woff'),
		 url('fonts/Chivo/Chivo-Thin.ttf') format('truetype');
	font-style: normal;
	font-weight: 100;

}


.tipo3{
    font-family: 'Helvetica';
    font-style: normal;
    font-weight: 700;
}


.spectral-light {
    font-family: "Spectral", serif;
    font-weight: 300;
    font-style: normal;
    font-size: 15pt;
  
  }


.montserrat {
    font-family: "Montserrat", serif;
    font-style: normal;
    font-size: 15pt
  }


  .lexend-giga {
    font-family: "Lexend Giga", serif;
    font-style: normal;
    font-size: 16pt;
  }


  .spectral-extrabold-italic {
    font-family: "Spectral", serif;
    font-weight: 800;
    font-style: italic;
    font-size: 16pt;
  }


  .barrio-regular {
    font-family: "Barrio", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 16pt;
  }

  .bricolage-grotesque {
    font-family: "Bricolage Grotesque", serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-size: 14pt;
  }